@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
body {
      background: var(--background-sky);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-main-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-second-color);
}

main {
    padding-top: 120px;
  }
  
:root {
    --header-text: #000000;
    --text1: #000000;
    --text2: #87aee0;
    --text3: #ffffff;
    --text4: #02131b;
    --header-background: #ffffff;
    --header-main-color: #87aee0;
    --scrollbar-main-color: #02131b;
    --scrollbar-second-color: #9ec2ef;
    --background-sky: #eeeeee;
    --background-sky2: #cde0f8;
    --background-epipelagica: #9ec2ef;
    --background-mesopelagica: #216a8f;
    --background-batipelagica: #01495c;
    --background-abissopelagica: #002d42;
    --background-hadopelagica: #02131b;
}
  
/* Home Section */
#problem {
    background: var(--background-sky);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* Tecnology Section */
#tecnology {
    background: var(--background-sky2);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
  
/* Objetive Section */
#objetive {
    background: var(--background-epipelagica);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
  
/* Animals Section */
#person {
    background: var(--background-mesopelagica);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
  
/* Curiousities Section */
#benefits {
    background: var(--background-batipelagica);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
  
/* Contact Section */
#today {
    background: var(--background-abissopelagica);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
  
/* Footer Section */
footer {
    background: var(--background-hadopelagica);
    width: 100%;
    bottom: 0;
    color: white;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

/* Animations */
.pause-animation {
    animation-play-state: paused !important;
}