.benefits-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    width: 100%;
    box-sizing: border-box;
}

.benefits-text {
    flex: 1;
    margin-right: 5rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.benefits-text .title-container {
    margin-bottom: -10px;
}

.benefits-text h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text3);
    margin-bottom: 15px;
}

.benefits-text p {
    font-size: 1.3rem;
    line-height: 1.3;
    color: var(--text3);
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .benefits-container {
        flex-direction: column; 
        align-items: center;
        padding: 0 5%;
    }

    .benefits-text {
        margin-right: 0;
        text-align: center; 
    }

    .benefits-text h1 {
        font-size: 2.8rem; 
        margin-bottom: 10px; 
    }

    .benefits-text p {
        font-size: 1.2rem; 
        margin-bottom: 15px; 
    }
}
