.problem-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}
.problem-text {
    flex: 1;
    margin-right: 5rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.problem-text .title-container {
    margin-bottom: -10px;
}

.problem-text h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text2);
    margin-bottom: 15px;
}

.problem-text p {
    font-size: 1.5rem;
    line-height: 1.3;
    color: var(--p-color);
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .problem-container {
        padding: 8% 5%;
    }

    .problem-text {
        margin-right: 0; 
        text-align: center;
    }

    .problem-text h1 {
        font-size: 2.8rem; 
    }

    .problem-text p {
        font-size: 1.2rem; 
    }
}
